/**
 * Custom CONSBA theme for reveal.js.
 *
 * By Francesco Vitucci, https://www.francescovitucci.com
 */

 @use "sass:color";


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------


// Include theme-specific fonts
@import url(./fonts/Montserrat/montserrat.css);


// Override theme settings (see ../template/settings.scss)
$backgroundColor: #ffffff;

$mainColor: #000000;
$headingColor: #000000;

$mainFontSize: 42px;
$mainFont: 'Montserrat', Arial, sans-serif;
$headingFont: 'Montserrat', Arial, sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: none;
$headingFontWeight: 600;
$linkColor: #0061a5;
$grayColor: #57585a;
// $linkColorHover: lighten( $linkColor, 15% );
$linkColorHover: color.adjust( $linkColor, $lightness: 15% );
$selectionBackgroundColor: rgba( $linkColor, 0.75 );

$heading1Size: 2.5em;
$heading2Size: 1.6em;
$heading3Size: 1.3em;
$heading4Size: 1.0em;

// Change text colors against light slide backgrounds
@include dark-bg-text-color(#fff0bc);


// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------

// Slide template ------------------------------
@import "../template/consba-slide";
// ---------------------------------------------

// Nav template --------------------------------
@import "../template/consba-nav";
// ---------------------------------------------

// Mermaid template ----------------------------
@import "../template/consba-mermaid";
// ---------------------------------------------